# ATs for sweat tracing enchantment
public net.minecraft.world.entity.animal.Bee$BeePollinateGoal
public net.minecraft.world.entity.animal.Bee$BeePollinateGoal f_28064_ # successfulPollinatingTicks
public net.minecraft.world.entity.animal.Bee$BeePollinateGoal f_28068_ # pollinatingTicks
public net.minecraft.world.entity.animal.Bee$BeePollinateGoal m_28086_()Z # isPollinating
